<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>{{role}}-admin</h2>
            <h4>{{email}}</h4>
        </div>
        <img class="profile-img" src="https://image.shutterstock.com/image-vector/profile-anonymous-face-icon-gray-260nw-789318310.jpg"
         alt="Admin">
    </div>

    <!-- <mat-divider></mat-divider> -->

    <h2 matSubheader>Pages</h2>

    <a *ngIf='role=="system" || role == "admin" || role == "executive"' mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a  *ngIf='role=="system" || role == "admin"' mat-list-item routerLinkActive="list-item-active" routerLink="/Users">Users</a>
    <!-- <a *ngIf=' role == "executive"' mat-list-item routerLinkActive="list-item-active" routerLink="/upload">Upload</a> -->

    <!-- <mat-divider></mat-divider> -->

    <h2 matSubheader>Tools</h2>

    <a *ngIf='role=="system" || role == "admin"' mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a *ngIf='role=="system" || role == "admin"' mat-list-item routerLinkActive="list-item-active" routerLink="/leads">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>
    <a *ngIf='role=="system" || role == "admin"' mat-list-item routerLinkActive="list-item-active" routerLink="/allocate_lead">
        <mat-icon>contact_phone</mat-icon>
        Allocate-Leads
    </a>
    <a *ngIf='role=="system" || role == "admin" || role == "executive"' mat-list-item routerLinkActive="list-item-active" routerLink="/display_lead">
        <mat-icon>contact_phone</mat-icon>
        Document-Verification
    </a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/leads"> -->
        <!-- <mat-icon>contact_phone</mat-icon> -->
        
    <!-- </a> -->


</mat-nav-list>