<form [formGroup]="form" class="normal-form">
    <mat-grid-list cols="1" rowHeight="400px">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <input formControlName="first_name" matInput placeholder="First Name*">
                    <mat-error>This field is mandatory.</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input formControlName="last_name" matInput placeholder="Last Name*">
                    <mat-error>This field is mandatory.</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input formControlName="email" matInput placeholder="Email*">
 <mat-error>Please enter a valid email address</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input formControlName="password" matInput placeholder="Password*">
                    <mat-error>This field is mandatory.</mat-error>
                  </mat-form-field>
                  <mat-form-field>
                    <input formControlName="mobile" matInput placeholder="Mobile*">
                <mat-error>Enter mobile number</mat-error>  
                </mat-form-field>
               
                <mat-form-field>
                  <mat-label>Type of User</mat-label>
                  <mat-select formControlName="role" required>
                    <mat-option>--</mat-option>
                    <mat-option *ngFor="let admin of admins" [value]="admin.value">
                      {{admin.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error >Please choose an admin</mat-error>
                </mat-form-field>
            </div>
        </mat-grid-tile>
<mat-grid-tile>
            <div class="controles-container1" style="margin-right: 72%;margin-bottom: 10%;">
                <div class="add-bottom-padding">
                 
                  
                  <mat-radio-group formControlName="gender">
                    <mat-radio-button value="1" selected>Male</mat-radio-button>
                    <mat-radio-button value="2">Female</mat-radio-button>
                    <mat-radio-button value="3">Other</mat-radio-button>
                  </mat-radio-group>
              
                </div>
 <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" (click)="OnSubmit()">Submit</button> &nbsp;
<button mat-raised-button color="warn" (click)="onClear()">Clear</button>
 
            </div>
            </mat-grid-tile>

    </mat-grid-list>
</form>