
<mat-toolbar color="primary">
    <mat-toolbar-row>
    <button mat-icon-button>
    <mat-icon (click) = "toggle();">menu</mat-icon>
    </button>&nbsp;
  {{title}}
  
  <div class="spacer"></div>
  <ul>
      <li>
        <button mat-icon-button>
            <mat-icon>settings</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>help_outline</mat-icon>
                </button>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>
                        person_outline
                    </mat-icon>
                </button>
                <mat-menu #menu="matMenu">
<a routerLinkActive="list-item-active" routerLink="/profile">                    
                    <button mat-menu-item>
                        <mat-icon>account_box</mat-icon>

                        Profile 
                    </button>
                </a>
                    <button mat-menu-item (click)="signout();">
                        <mat-icon >exit_to_app</mat-icon>
                        Sign out
                    </button>
                </mat-menu>
      </li>
  </ul>
</mat-toolbar-row>
  </mat-toolbar>