.detail-container{
    border-radius: 4px;
    position: absolute;
    top:12%;
}
.card-container{
	width: 300px;
	height: 430px;
	background: #FFF;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	left: 84%;
	transform: translate(-50%,-50%);
	box-shadow: 0px 1px 10px 1px #000;
	overflow: hidden;
	display: inline-block;
}
.upper-container{
	height: 150px;
	background: #7F00FF;
}
.image-container{
	background: white;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 5px;
	transform: translate(100px,100px);
}
.image-container img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.lower-container{
	height: 280px;
	background: #FFF;
	padding: 20px;
	padding-top: 40px;
	text-align: center;
}
.lower-container h3, h4{
	box-sizing: border-box;
	line-height: .6;
	font-weight: lighter;
}
.lower-container h4,h5{
	color: #7F00FF;
	opacity: .6;
	font-weight: bold;
}
.lower-container p{
	font-size: 16px;
	color: gray;
	margin-bottom: 30px;
}
.normal-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .normal-full-width {
    width: 100%;
  }
  