<div class="row">
<div class="detail-container col-md-7">
    <mat-card >
        <mat-card-header>
            <mat-card-title>
    Profile
    </mat-card-title>
    </mat-card-header>  
        <mat-card-content>
            <form [formGroup]="form" class="normal-form">
            <mat-form-field class="normal-full-width">
                  <mat-label>Email</mat-label>
                  <input formControlName="email" matInput placeholder="Ex. Pizza" >
                  <mat-error>Please enter a valid email address</mat-error>
                </mat-form-field>
                <mat-form-field class="normal-full-width">
                    <mat-label>First Name</mat-label>
                    <input formControlName = "first_name" matInput placeholder="Ex. Pizza" >
                    <mat-error>This field is mandatory.</mat-error>
                  </mat-form-field>
                  <mat-form-field class="normal-full-width">
                    <mat-label>Last Name</mat-label>
                    <input formControlName="last_name" matInput placeholder="Ex. Pizza" >
                    <mat-error>This field is mandatory.</mat-error>
                  </mat-form-field>
                  <mat-form-field class="normal-full-width">
                    <mat-label>Type of User (disabled)</mat-label>
                    <input formControlName="role" disabled matInput value="Ex. Pizza" >
                  </mat-form-field>
              
 <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" (click)="OnSubmit()">Update</button> &nbsp;
 
             
            </form>
              
            </mat-card-content>
    </mat-card>
<img  src = "../../../Screenshot(3).png" alt='image' />
    
</div>

<div class="card-container col-md-5">

    <div class="upper-container">
        <div class="image-container">
            <img class="profile-img" src="https://image.shutterstock.com/image-vector/profile-anonymous-face-icon-gray-260nw-789318310.jpg"
            alt="Admin">
           </div>
    </div>

    <div class="lower-container">
        <div>
            <h3>Admin Profile</h3>
            <h4>Name: Admin</h4>
            <h5>Email: {{email}}</h5>

          </div>
        <div>
            <p>sodales accumsan ligula. Aenean sed diam tristique, fermentum mi nec, ornare arcu.</p>
        </div>
        <div>
        </div>
    </div>

</div>
</div>