.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .normal-full-width {
    width: 100%;
  }
  form.normal-form{
    margin: 10px;
}

.controles-container{
    width: 100%;
    padding: 10%;    
}

.controles-container > * {
    width: 100%;
    height:100%;
    }

    .add-bottom-padding{
        margin-bottom: 20%;
        padding-bottom: 10px;
    }
    /* radio group */
mat-radio-group mat-radio-button{
    margin-left: 5px;
} 

.button-row {
    margin-bottom: 10%;
    margin: 5px;
}
.alert-danger {
    background-color: #f44336; /* Red */
}
.alert-success {
    background-color: #36f456;  
} 
.alert{
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    text-align: center;
}
.first{height: 10px;width: 100%;background: #fff;}
.second{height: 10px;background: #009200;}

  