<form [formGroup]="form" class="normal-form" enctype="multipart/form-data">
    <mat-grid-list cols="1" rowHeight="295px">
        <mat-grid-tile>
            <div class="controles-container">
                <!-- <mat-form-field>
                    <mat-label>Name</mat-label>
                    <mat-select formControlName="CName" required>
                        <mat-option>--</mat-option>

                        <mat-option *ngFor="let showlead of showLeads" [value]="showlead.appl_id">
                          {{showlead.companyName}}
                        </mat-option>
                        </mat-select>
                    <mat-error >Please choose an Name</mat-error>
                  </mat-form-field> -->
                <!-- <mat-form-field>
                    <mat-label>Submission</mat-label>
                    <mat-select formControlName="status" required>
                      <mat-option value="Pending">Pending </mat-option>
                      <mat-option value="Accepted">Accepted</mat-option>
                     
                    </mat-select>
                    <mat-error >Please choose an status</mat-error>
                  </mat-form-field>
                -->

    <div class="form-group row">
        <label for="photo" >Upload </label>
        <div>
            
           <mat-label> PanCard</mat-label>
            <input class="normal-full-width" type="file" id="file" name="file" #fileInput ><br>
            <mat-label> AadharCard</mat-label>
            <input class="normal-full-width" type="file" id="file1" name="file1" #fileInput1 ><br>
            <mat-label> BussinessRegistrationDocument</mat-label>
            <input class="normal-full-width" type="file" id="file2" name="file2" #fileInput2 ><br>
            <mat-label>GstLicense</mat-label>
            <input class="normal-full-width" type="file" id="file3" name="file3" #fileInput3 >

            <div style="color:brown;"> {{pdferror}} {{filerror}}</div>

<br><br>
 <button mat-raised-button color="primary" type="submit" (click)="update()">Upload</button> &nbsp;
                   
                </div>
    </div>
            </div>
            
        </mat-grid-tile>
    </mat-grid-list>
</form>
<div class="first">
    <div [ngStyle]= "{'width.%':progress}" class="second"></div>
</div>
<!-- <form [formGroup]="form" class="normal-form" enctype=
<input type="text" class="form-control"  formControlName='file_pdf' [ngClass]="{'is-invalid': submitted && form.controls.file_pdf.invalid}">            
            <input type="file" id="file" name="file" #fileInput>
            <div class="invalid-feedback" *ngIf="submitted && form.controls.file_pdf.invalid">
                <div *ngIf="form.controls.file_pdf.errors.required">Photo is required</div>
            </div>
        </div>
    </div>
    <button mat-raised-button color="primary" type="submit" (click)="update()">Submit</button> &nbsp;

    <button mat-raised-button color="primary" type="submit"  (click)="delete()">Submit</button> &nbsp; -->
   
<!-- <button mat-raised-button color="primary" type="submit"  (click)="download()">Download</button>  -->

<!-- <div class="container">
    <input type="file" #fileInput>
<button mat-raised-button color="primary"  (click)="OnUpload()">Submit</button> &nbsp;

</div> -->
<!-- <input type="file" id="file" name="file" accept=".pdf" >
<button type="button" (click)="update()">Click Me</button> -->