.normal-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .normal-full-width {
    width: 100%;
  }

  form.normal-form{
    margin: 10px;
}

.controles-container{
    width: 100%;
    padding: 5%;    
}

.controles-container > * {
    width: 100%;
    height:100%;
    }

    .add-bottom-padding{
        margin-bottom: 20%;
        padding-bottom: 10px;
    }
    /* radio group */
mat-radio-group mat-radio-button{
    margin-left: 5px;
} 

.button-row {
    margin-bottom: 10%;
    margin: 5px;
}
#main {
    margin: auto;
    width: 400px;
}

#sidebar    {
    width: 300px;
    float: left;
}

#page-wrap  {
    margin-top: 5px;
    width: 3px;
    float: left;
}

.clear:after {
    clear: both;
    display: table;
    content: "";
}