

<mat-slide-toggle
(click)="disableform()"
[(ngModel)]="disabled">
enable to edit
</mat-slide-toggle>
<form [formGroup]="form" class="normal-form"> 
    <mat-form-field class="normal-full-width" >
          <mat-label>appl_id</mat-label>
          <input formControlName="appl_id" matInput placeholder="Ex. Pizza" >
          <mat-error>Please enter a valid appl_id</mat-error>
        </mat-form-field> 
        <mat-form-field class="normal-full-width">
            <mat-label>Email</mat-label>
            <input formControlName = "email" matInput placeholder="Ex. Pizza" >
            <mat-error>Please enter a valid email.id</mat-error>
          </mat-form-field>
          <mat-form-field class="normal-full-width">
            <mat-label> Name</mat-label>
            <input formControlName="Name" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field class="normal-full-width">
            <mat-label> Almamater</mat-label>
            <input formControlName="almamater" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field> 
        
          <mat-form-field class="normal-full-width">
            <mat-label> Mobile</mat-label>
            <input formControlName="mobile" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field> 
         
         <mat-form-field class="normal-full-width">
            <mat-label> Average Sales</mat-label>
            <input formControlName="avgsales" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field> 
          <mat-form-field class="normal-full-width">
            <mat-label> City</mat-label>
            <input formControlName="city" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field> 
          <mat-form-field class="normal-full-width">
            <mat-label> companyName</mat-label>
            <input formControlName="companyName" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field> <mat-form-field class="normal-full-width">
            <mat-label> Designs</mat-label>
            <input formControlName="designs" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field> 
          <mat-form-field class="normal-full-width">
            <mat-label> Dial Code</mat-label>
            <input formControlName="dial_code" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field> <mat-form-field class="normal-full-width">
            <mat-label> Establishment</mat-label>
            <input formControlName="establishment" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field class="normal-full-width">
            <mat-label>Experience</mat-label>
            <input formControlName="experience" disabled matInput value="Ex. Pizza" >
          </mat-form-field>
          <mat-form-field class="normal-full-width">
            <mat-label> Awards</mat-label>
            <input formControlName="awards" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field class="normal-full-width">
            <mat-label> Foreign Clients</mat-label>
            <input formControlName="foreignclients" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field class="normal-full-width">
            <mat-label> Status</mat-label>
            <input formControlName="status" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field class="normal-full-width">
            <mat-label> Total Designers</mat-label>
            <input formControlName="totaldesigners" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field class="normal-full-width">
            <mat-label> facebook</mat-label>
            <input formControlName="facebook" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field class="normal-full-width">
            <mat-label> twitter</mat-label>
            <input formControlName="twitter" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field class="normal-full-width">
            <mat-label> instagram</mat-label>
            <input formControlName="instagram" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
           <mat-form-field class="normal-full-width">
            <mat-label> weburl</mat-label>
            <input formControlName="weburl" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field> <mat-form-field class="normal-full-width">
            <mat-label> Country</mat-label>
            <input formControlName="country" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field> <mat-form-field class="normal-full-width">
            <mat-label> Zipcode</mat-label>
            <input formControlName="zipcode" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field> <mat-form-field class="normal-full-width">
            <mat-label> streetAddress</mat-label>
            <input formControlName="streetAddress" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field> 
          <mat-form-field class="normal-full-width">
            <mat-label> state</mat-label>
            <input formControlName="state" matInput placeholder="Ex. Pizza" >
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <div id="main" class="clear">
            <div id="sidebar">
              <mat-form-field class="normal-full-width">
                <mat-label> pancard</mat-label>
                <input formControlName="pancard" matInput placeholder="Ex. Pizza" >
                <mat-error>This field is mandatory.</mat-error>
                
              </mat-form-field> 
              
            </div>
            <div id="page-wrap">
              <mat-icon (click)="OnDownload('pancard')">system_update_alt  &nbsp; </mat-icon>
            </div>
          </div>
          <div id="main" class="clear">
            <div id="sidebar">
              <mat-form-field class="normal-full-width">
                <mat-label> aadharcard</mat-label>
                <input formControlName="aadharcard" matInput placeholder="Ex. Pizza" >
                <mat-error>This field is mandatory.</mat-error>
                
              </mat-form-field> 
              
            </div>
            <div id="page-wrap">
              <mat-icon (click)="OnDownload('aadharcard')">system_update_alt  &nbsp; </mat-icon>
            </div>
          </div>
          <div id="main" class="clear">
            <div id="sidebar">
              <mat-form-field class="normal-full-width">
                <mat-label> GstLicense</mat-label>
                <input formControlName="gst" matInput placeholder="Ex. Pizza" >
                <mat-error>This field is mandatory.</mat-error>
                
              </mat-form-field> 
              
            </div>
            <div id="page-wrap">
              <mat-icon (click)="OnDownload('gst')">system_update_alt  &nbsp; </mat-icon>
            </div>
          </div>
          <div id="main" class="clear">
            <div id="sidebar">
              <mat-form-field class="normal-full-width">
                <mat-label> BussinessRegistrationDocument </mat-label>
                <input formControlName="brd" matInput placeholder="Ex. Pizza" >
                <mat-error>This field is mandatory.</mat-error>
                
              </mat-form-field> 
              
            </div>
            <div id="page-wrap">
              <mat-icon (click)="OnDownload('brd')">system_update_alt  &nbsp; </mat-icon>
            </div>
          </div>
          <app-fileupload *ngIf = "role=='executive' && !buttondisable"[name1] = "name"></app-fileupload>

        <div>
<button class="normal-full-width" mat-raised-button color="primary" type="submit" [disabled]="form.invalid" (click)="OnSubmit()">Update</button> &nbsp;
</div>
    </form>
<div *ngIf="role=='system'">
  <h2>
    Please enable if verified   <mat-slide-toggle   [checked]="approval" [disabled]="approval" (click) = "UpdateStatus()"></mat-slide-toggle>

  </h2>

</div>