<form [formGroup]="form" class="normal-form">
    <mat-grid-list cols="1" rowHeight="200px">
        <mat-grid-tile>
            <div class="controles-container">
                <mat-form-field>
                    <mat-label>Allocate a executive</mat-label>
                    <mat-select formControlName="executives" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let executive of executives" [value]="executive.id">
                        {{executive.first_name}}
                      </mat-option>
                    </mat-select>
                    <mat-error >Please choose an executive</mat-error>
                  </mat-form-field>
                   <mat-form-field> 
                    <mat-label>Allocate a User Region</mat-label>
                    <mat-select formControlName="users" required>
                      <mat-option>--</mat-option>
                      <mat-option *ngFor="let singlecity of cities" [value]="singlecity">
                        {{singlecity}}
                      </mat-option>
                    </mat-select>
                    <mat-error >Please choose an User Region</mat-error>
                  </mat-form-field> 
 <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" (click)="OnSubmit()">Check Allocations</button> &nbsp;
 <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                   
                </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>
<div *ngIf="checkallocations">
  <mat-card>
    <mat-card-content>
      <div *ngIf="!allocate">Unallocated users in the area {{userarea}} </div>
      <div *ngIf="allocate">No Unallocated users in the area {{userarea}} </div>

    </mat-card-content>
  </mat-card>
<h2></h2>
  <mat-card class="result">
        <mat-card-content>
          <section>
            <mat-checkbox (change)="updateAll()"
                class="example-margin"
                [(ngModel)]="select_all">
              Select All
            </mat-checkbox>
          </section>
        </mat-card-content>
      </mat-card>
    <mat-card class="result">
        <mat-card-content>  
          <section *ngFor="let allocation of allocations ; let i = index">
            <mat-checkbox (change)="updateItem($event,allocation)"
            value="allocation.Email"
               [(ngModel)]="allocation.checked">
              {{allocation.Email}}
            </mat-checkbox>
          </section>
        </mat-card-content>
      </mat-card>
<button style="width: 100%;" mat-raised-button color="primary" type="submit" (click)="submit()">Allocate</button> &nbsp;

  </div>
  