<div mat-dialog-content>
  <p>Are you sure you want to Allocate these {{elements}} users to {{associate}}</p>
  <!-- <p>Are you sure you want to Allocate these {{elements}} user to {{executive}}</p> -->
  
</div>
<div mat-dialog-actions>
    <button type="button" (click) = "onYesClick()" class="btn btn-light">Ok</button>

  <button mat-button class="btn btn-light" (click)="onNoClick()">No Thanks</button>
</div>
