<b>Dashboard</b>
<br><br>
<div class="row">
<div class="Users-card-container col-md-4" >
    <mat-card >
        <mat-card-header>
            <mat-card-title>
    Users<br><br>
    <b>   {{users.length}}</b>

    </mat-card-title>
    </mat-card-header>  
        <mat-card-content>
            </mat-card-content>
            </mat-card>
</div>
<div class="Leads-card-container col-md-4">
    <mat-card >
        <mat-card-header>
            <mat-card-title>
    Leads<br><br>
    <b>{{Totalleads.length}}</b>
    </mat-card-title>
    </mat-card-header>  
        <mat-card-content>
            </mat-card-content>
            </mat-card>
</div>
<div class="Allocation-card-container col-md-4">
    <mat-card >
        <mat-card-header>
            <mat-card-title>
    Allocated<br><br>
    <b>{{Allocated.length}}</b>
    </mat-card-title>
    </mat-card-header>  
        <mat-card-content>
            </mat-card-content>
            </mat-card>
</div>
</div>
<br>
<div class="row"> 
<div class="Not-Allocation-card-container col-md-4">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
    Not Allocated<br><br>
    <b>{{notAllocated}}</b>
    </mat-card-title>
    </mat-card-header>  
        <mat-card-content>
            </mat-card-content>
            </mat-card>
</div>
<div class="Executive-card-container col-md-4">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
   Executives<br><br>
   <b>{{executives.length}}</b>
    </mat-card-title>
    </mat-card-header>  
        <mat-card-content>
            </mat-card-content>
            </mat-card>
</div>
</div>