.Users-card-container mat-card{
    height:100px;
    width:250px;
    background-color: #b3e0ff;
    box-shadow: 0px 1px 5px 1px #000;
}
.Leads-card-container mat-card{
    height:100px;
    width:250px;
    background-color: #e6004c;
    box-shadow: 0px 1px 5px 1px #000;
}
.Allocation-card-container mat-card{
    height:100px;
    width:250px;
    background-color:#1aff1a;
    box-shadow: 0px 1px 5px 1px #000;
}
.Not-Allocation-card-container mat-card{
    height:100px;
    width:250px;
    background-color:#ff1a1a;
    box-shadow: 0px 1px 5px 1px #000;
}
.Executive-card-container mat-card {
    height:100px;
    width:250px;
    background-color:#ffad33;
    box-shadow: 0px 1px 5px 1px #000;

}