
<div class="search-div">

    <mat-form-field class="search-form-field">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
      </mat-form-field>
    </div>
    
      <div class="mat-elevation-z8">
    
    <table mat-table [dataSource]="dataSource1" matSort>
    

        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="cnam">
          <th mat-header-cell *matHeaderCellDef> companyName </th>
          <td mat-cell *matCellDef="let element"> {{element.companyName}} </td>
        </ng-container>
      
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
      
        <ng-container matColumnDef="phonenumber">
          <th mat-header-cell *matHeaderCellDef> phonenumber </th>
          <td mat-cell *matCellDef="let element"> {{element.phonenumber}} </td>
        </ng-container>
        <ng-container matColumnDef="city">
            <th mat-header-cell *matHeaderCellDef> city </th>
            <td mat-cell *matCellDef="let element"> {{element.city}} </td>
          </ng-container>
        <ng-container  matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> action </th>
          <td mat-cell *matCellDef="let row">
          <!-- <button mat-icon-button ><mat-icon>delete</mat-icon></button> -->
<button mat-icon-button  class="material-icons" (click) = "onedit(row)"> <mat-icon>create</mat-icon></button>  
    </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      
    </div>
      
      