<app-header (toggleopen)="sidebartoggle()"></app-header>
<mat-drawer-container >
    <mat-drawer  #side_nav mode="side" [(opened)]="opened">
        <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>

    </mat-drawer-content>
  </mat-drawer-container>
  
<!-- <footer>Footer</footer> -->